<hell name="{{ nam }}"></hell>
<p>
     <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

</p>
<p>
     <label for="Mobileno"><b>Mobile NO</b></label>
    <input type="text" placeholder="Enter mobile no" name="email" required>

</p>
<p>
  <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
</p>
<p>
    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    </p>
  
   
    <button type="submit" class="registerbtn">Register</button>